
<!-- campo de pesquisa -->
<div class="search">
  <input type="text" [(ngModel)]="movieName" (keydown.enter)="find(movieName)">
  <button (click)="find(movieName)">Find Movie</button>
</div>

<!-- resultado de pesquisa -->
<div *ngIf="movies.length > 0">

  <hr>

  <!-- listar resultados -->
  <ul>
    <li *ngFor="let movie of movies">

      <!-- mostrar poster do filme -->
      <div class="panel">
        <img [src]="movie.Poster" [alt]="movie.Title + ' Poster'">
      </div>

      <!-- mostrar titulo do filme -->
      <div class="txtcont">
        <a [href]="'https://www.imdb.com/title/'+movie.imdbID">
          {{movie.Title}}
        </a>
      </div>
    </li>
  </ul>

</div>
